# Final Notebook

## Import Libraries

In [84]:
import pandas as pd
import numpy as np

In [86]:
df = pd.read_csv('/Users/tristansavella/NY_Citi_Bikes/Data/nyc_data.csv', index_col = 0)

In [87]:
df.shape

(895485, 18)

## Wrangling

In [89]:
# Create a month column 

df['date'] = pd.to_datetime(df['date'], format = '%Y-%m-%d')
df['month'] = df['date'].dt.month
df['month'] = df['month'].astype('int')

In [90]:
# Create the season column

df['season'] = [
"winter" if (month == 12 or 1 <= month <= 2)
    else "spring" if (3 < month <= 5)
    else "summer" if (6 <= month <= 8)
    else "fall"
for month in df['month']
    ]

In [91]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_time,date,end_time,avgTemp,_merge,month,season
0,3255D3E3F33CDC45,classic_bike,2022-03-18 15:38:17,2022-03-18 15:45:34,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743140,-74.040041,40.736982,-74.027781,casual,2022-03-18 15:38:17,2022-03-18,2022-03-18 15:45:34,13.9,both,3,fall
1,17FA5604A37338F9,electric_bike,2022-03-04 16:44:48,2022-03-04 16:50:45,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-04 16:44:48,2022-03-04,2022-03-04 16:50:45,-1.9,both,3,fall
2,7DEC9ADDB8D6BBE1,electric_bike,2022-03-13 17:44:32,2022-03-13 17:54:44,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-13 17:44:32,2022-03-13,2022-03-13 17:54:44,-2.3,both,3,fall
3,9D69F74EEF231A2E,classic_bike,2022-03-13 15:33:47,2022-03-13 15:41:22,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-13 15:33:47,2022-03-13,2022-03-13 15:41:22,-2.3,both,3,fall
4,C84AE4A9D78A6347,classic_bike,2022-03-11 12:21:18,2022-03-11 12:33:24,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-11 12:21:18,2022-03-11,2022-03-11 12:33:24,7.2,both,3,fall

In [92]:
# Create a copy with fewer columns 

df_1 = df.drop(columns = {'ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_id', 'end_station_id',
'member_casual', 'start_time', 'end_time'})

In [93]:
np.random.seed(32)
red = np.random.rand(len(df_1)) <= 0.92

In [94]:
small = df_1[~red]

In [95]:
small.shape

(71391, 11)

In [105]:
small.head()

,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,date,avgTemp,_merge,month,season
3,Baldwin at Montgomery,Grove St PATH,40.723659,-74.064194,40.719586,-74.043117,2022-03-13,-2.3,both,3,fall
7,Baldwin at Montgomery,Grove St PATH,40.723659,-74.064194,40.719586,-74.043117,2022-03-20,14.3,both,3,fall
25,14 St Ferry - 14 St & Shipyard Ln,South Waterfront Walkway - Sinatra Dr & 1 St,40.752961,-74.024353,40.736982,-74.027781,2022-03-22,10.7,both,3,fall
44,14 St Ferry - 14 St & Shipyard Ln,South Waterfront Walkway - Sinatra Dr & 1 St,40.752961,-74.024353,40.736982,-74.027781,2022-03-11,7.2,both,3,fall
58,14 St Ferry - 14 St & Shipyard Ln,South Waterfront Walkway - Sinatra Dr & 1 St,40.752961,-74.024353,40.736982,-74.027781,2022-03-15,11.6,both,3,fall

In [107]:
small.to_csv('reduced_data_to_plot_7.csv',index = False)

In [115]:
# Display the number of rides by season
print(small.groupby('season').size())

season
fall      25450
spring    11255
summer    26129
winter     8557
dtype: int64

In [117]:
# Display the number of rides by month
print(small.groupby('month').size())

month
1     2087
2     2483
3     4078
4     4892
5     6363
6     8144
7     8741
8     9244
9     8252
10    7162
11    5958
12    3987
dtype: int64