# Advanced Geospatial Plotting

## Import Libraries and Data

In [54]:
import pandas as pd
import os
from keplergl import KeplerGl
from pyproj import CRS
import numpy as np
from matplotlib import pyplot as plt

In [56]:
df = pd.read_csv('Data/nyc_data.csv', index_col = 0)

In [57]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_time,date,end_time,avgTemp,_merge
0,3255D3E3F33CDC45,classic_bike,2022-03-18 15:38:17,2022-03-18 15:45:34,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743140,-74.040041,40.736982,-74.027781,casual,2022-03-18 15:38:17,2022-03-18,2022-03-18 15:45:34,13.9,both
1,17FA5604A37338F9,electric_bike,2022-03-04 16:44:48,2022-03-04 16:50:45,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-04 16:44:48,2022-03-04,2022-03-04 16:50:45,-1.9,both
2,7DEC9ADDB8D6BBE1,electric_bike,2022-03-13 17:44:32,2022-03-13 17:54:44,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-13 17:44:32,2022-03-13,2022-03-13 17:54:44,-2.3,both
3,9D69F74EEF231A2E,classic_bike,2022-03-13 15:33:47,2022-03-13 15:41:22,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-13 15:33:47,2022-03-13,2022-03-13 15:41:22,-2.3,both
4,C84AE4A9D78A6347,classic_bike,2022-03-11 12:21:18,2022-03-11 12:33:24,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-11 12:21:18,2022-03-11,2022-03-11 12:33:24,7.2,both

## Data Preprocessing

In [59]:
# Step 1: Create a 'value' column and group by start and end station names to count trips
df['value'] = 1
df_group = df.groupby(['start_station_name', 'end_station_name'])['value'].count().reset_index()

In [60]:
df_group.head()

      start_station_name                   end_station_name  value
0  11 St & Washington St              11 St & Washington St   1132
1  11 St & Washington St                   12 Ave & W 40 St      1
2  11 St & Washington St               12 St & Sinatra Dr N    253
3  11 St & Washington St  14 St Ferry - 14 St & Shipyard Ln    395
4  11 St & Washington St                    4 St & Grand St    350

In [61]:
# Step 2: Ensure the latitude and longitude data is unique before merging
start_coords = df[['start_station_name', 'start_lat', 'start_lng']].drop_duplicates(subset=['start_station_name'])
end_coords = df[['end_station_name', 'end_lat', 'end_lng']].drop_duplicates(subset=['end_station_name'])

In [62]:
# Step 3: Merge with origin station details (start_lat, start_lng)
df_group = df_group.merge(start_coords, on='start_station_name', how='left')

In [63]:
# Step 4: Merge with destination station details (end_lat, end_lng)
df_final = df_group.merge(end_coords, on='end_station_name', how='left')

In [64]:
# The final DataFrame 'df_group' now includes unique combinations with trip counts and coordinates
df_final.head()

,start_station_name,end_station_name,value,start_lat,start_lng,end_lat,end_lng
0,11 St & Washington St,11 St & Washington St,1132,40.749985,-74.02715,40.749985,-74.027150
1,11 St & Washington St,12 Ave & W 40 St,1,40.749985,-74.02715,40.760875,-74.002777
2,11 St & Washington St,12 St & Sinatra Dr N,253,40.749985,-74.02715,40.750604,-74.024020
3,11 St & Washington St,14 St Ferry - 14 St & Shipyard Ln,395,40.749985,-74.02715,40.752961,-74.024353
4,11 St & Washington St,4 St & Grand St,350,40.749985,-74.02715,40.742258,-74.035111

## Rename Columns

In [74]:
df_final.rename(columns = {'start_station_name':'origin','end_station_name' : 'destination',
'value': 'trips'}, inplace = True)

In [76]:
df_final.head()

,origin,destination,trips,start_lat,start_lng,end_lat,end_lng
0,11 St & Washington St,11 St & Washington St,1132,40.749985,-74.02715,40.749985,-74.027150
1,11 St & Washington St,12 Ave & W 40 St,1,40.749985,-74.02715,40.760875,-74.002777
2,11 St & Washington St,12 St & Sinatra Dr N,253,40.749985,-74.02715,40.750604,-74.024020
3,11 St & Washington St,14 St Ferry - 14 St & Shipyard Ln,395,40.749985,-74.02715,40.752961,-74.024353
4,11 St & Washington St,4 St & Grand St,350,40.749985,-74.02715,40.742258,-74.035111

In [83]:
df_final.tail()

,origin,destination,trips,start_lat,start_lng,end_lat,end_lng
6948,York St & Marin Blvd,Van Vorst Park,18,40.716615,-74.042412,40.718489,-74.047727
6949,York St & Marin Blvd,Warren St,42,40.716615,-74.042412,40.721124,-74.038051
6950,York St & Marin Blvd,Washington St,16,40.716615,-74.042412,40.724294,-74.035483
6951,York St & Marin Blvd,Willow Ave & 12 St,1,40.716615,-74.042412,40.751867,-74.030377
6952,York St & Marin Blvd,York St & Marin Blvd,47,40.716615,-74.042412,40.716615,-74.042412

## Plot the Map

In [86]:
#save final df
df_final.to_csv('Data/trip_locations.csv')

In [88]:
# Create KeplerGl instance

m = KeplerGl(height = 700, data={"data_1": df_final})
m

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

/Users/tristansavella/anaconda3/envs/venv_nyc_bike/lib/python3.12/site-packages/IPython/core/formatters.py:370: FormatterWarning: text/html formatter returned invalid type <class 'bytes'> (expected <class 'str'>) for object: KeplerGl(data={'data_1':                      origin                        destination  trips  \
0     11 St & Washington St              11 St & Washington St   1132
1     11 St & Washington St                   12 Ave & W 40 St      1
2     11 St & Washington St               12 St & Sinatra Dr N    253
3     11 St & Washington St  14 St Ferry - 14 St & Shipyard Ln    395
4     11 St & Washington St                    4 St & Grand St    350
...                     ...                                ...    ...
6948   York St & Marin Blvd                     Van Vorst Park     18
6949   York St & Marin Blvd                          Warren St     42
6950   York St & Marin Blvd                      Washington St     16
6951   York St & Marin Blvd                 Willow Ave & 12 St      1
6952   York St & Marin Blvd               York St & Marin Blvd     47

      start_lat  start_lng    end_lat    end_lng
0     40.749985 -74.027150  40.749985 -74.027150
1     40.749985 -74.027150  40.760875 -74.002777
2     40.749985 -74.027150  40.750604 -74.024020
3     40.749985 -74.027150  40.752961 -74.024353
4     40.749985 -74.027150  40.742258 -74.035111
...         ...        ...        ...        ...
6948  40.716615 -74.042412  40.718489 -74.047727
6949  40.716615 -74.042412  40.721124 -74.038051
6950  40.716615 -74.042412  40.724294 -74.035483
6951  40.716615 -74.042412  40.751867 -74.030377
6952  40.716615 -74.042412  40.716615 -74.042412

[6953 rows x 7 columns]}, height=700)
  warnings.warn(

KeplerGl(data={'data_1':                      origin                        destination  trips  \
0     11 St â€¦